.left-spacer {
    flex: 1 1 auto;
  }
  
  .mat-button:focus {
    outline: none;
  }
  
  .jumbotron {
    background-color: #fb8c00;
    color: #fff;
    padding: 4px;
    border-radius: 0px !important;
    margin-top: 52px;
   
  }
  
  .mat-card{
     width: 400px;
  }
  
  .mat-card-sm-image {
    height: 142px;
    width: 56px;
  
  }
  
  .colored {
    margin-top: 12px !important;
    margin-bottom: 4px;
    color: #fb8c00;
  }
  
  .fav {
    position: absolute;
    right: 4px;
    top: 4px;
  }
  
  mat-slider {
    width: 100px;
  }

  .result-card{
    width: 200px;
    height: 280px;
    text-align: center;
  }